<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중고 시세 데이터 크롤러</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>중고 시세 데이터 크롤러</h1>
    <h4>나노메모리, 월드메모리, 다나와 중고 시세 검색해드립니다.</h4>
    <form action="/search">
      <button>Search</button>
    </form>
  </main>
</body>
</html>